PORT = 3000
X_APPLICATION_ID = bandidos-ms

DB_HOST =
DB_PORT =
DB_USER =
DB_PASSWORD =
DB_NAME =
DB_SYNC = false

#node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET =

# You have to enable 2 factor authentication in your gmail account
EMAIL_SERVICE = gmail
EMAIL_USER =
EMAIL_PASS = # This is NOT your password:
# Generate this app password -> https://support.google.com/mail/answer/185833?hl=es-419

APP_ROUTE = http://localhost:3001 # Frontend URL